@model PagedList.IPagedList<PIMSuite.Persistence.Entities.Location>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Standorte";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<link href="~/Content/custom.css" rel="stylesheet" />
<div class="profile">
    <div class="page-title">
        <div class="title_left">
        </div>

        <div class="title_right">

            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                @using (Html.BeginForm("Index", "Location", FormMethod.Get, new { @class = "input-group" }))
                {
                    @Html.TextBox("SearchString", null, new { @class = "form-control" })
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                    </span>
                }
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_content">
                    <div class="row pull-right">
                        @if (ViewBag.AvailableSortType == "desc")
                        {
                            <a href="@Url.Action("Index", "Location", new {sort = ViewBag.AvailableSortType})" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Sort DESC" role="button">
                                Sort <i class="fa fa-sort-alpha-desc"></i>
                            </a>
                        }
                        else
                        {
                            <a href="@Url.Action("Index", "Location", new {sort = ViewBag.AvailableSortType})" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Sort ASC" role="button">
                                Sort <i class="fa fa-sort-alpha-asc"></i>
                            </a>
                        }
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sort = ViewBag.CurrentSortType, searchString = ViewBag.SearchString }))
                        </div>

                        <div class="clearfix"></div>

                        @foreach (var location in Model)
                        {
                            <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                                <div class="well profile_view">
                                    <div class="col-sm-12">
                                        <h4 class="brief"></h4>
                                        <div class="left">
                                            <h2><i class="fa fa-building"></i> @Html.DisplayFor(m => location.Name)</h2>
                                            <ul class="list-unstyled"></ul>
                                        </div>
                                        <div class="right col-xs-5 text-center">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 bottom text-center">
                                        <div class="col-xs-12 col-sm-6 emphasis">
                                        </div>
                                        <div class="col-xs-12 col-sm-6 emphasis">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
}