<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PimSuite | Dashboard</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    @Html.Partial("_CssComponents")
</head>
<body class="hold-transition skin-blue sidebar-mini">

    <div class="wrapper">
        <!-- Main Header -->
        <header class="main-header">
            @Html.Partial("_HeaderMenu")
        </header>

        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            @Html.Partial("_LeftMenu")
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            @RenderBody()
        </div>
        <!-- /.content-wrapper -->

        <!-- Main Footer -->
        <footer class="main-footer">
            @Html.Partial("_Footer")
        </footer>
    </div>

    @Html.Partial("_JsComponents")

    @RenderSection("scripts", required: false)
</body>
</html>