@model PIMSuite.Persistence.Entities.User
@{
    ViewBag.Title = "Profil anzeigen";
    ViewBag.UserDetail = "Benutzerdaten";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<link href="~/Content/custom.css" rel="stylesheet" />
<div class="profile">
    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">

                    @if (ViewBag.CurrentUser.UserId.Equals(ViewBag.User.UserId))
                    {
                        <a href="#" class="btn btn-success btn-xs disabled" id="userStatus" role="button">
                            <i class="fa fa-power-off"> </i> <span id="onlineOffline">Online</span>
                            <input type="hidden" id="statusUserId" value="@ViewBag.CurrentUser.UserId.ToString()" />
                        </a>
                    }
                    else
                    {
                        <a href="#" class="btn btn-danger btn-xs disabled" id="userStatus" role="button">
                            <i class="fa fa-power-off"> </i> <span id="onlineOffline">Offline</span>
                            <input type="hidden" id="statusUserId" value="@ViewBag.CurrentUser.UserId.ToString()" />
                        </a>
                    }
                    @if (!ViewBag.User.UserId.Equals(ViewBag.CurrentUser.UserId))
                    {
                        <a href="@Url.Action("Index", "Chat", new {toUserId = ViewBag.CurrentUser.UserId.ToString()})" class="btn btn-primary btn-xs" role="button">
                            <i class="fa fa-comments-o"></i> Chat
                        </a>
                    }
                    @if (ViewBag.EnableEditProfile)
                    {
                        <a href="@Url.Action("Edit", "Profile", new {userId = ViewBag.CurrentUser.UserId.ToString()})" class="btn btn-primary btn-xs" role="button">
                            <i class="fa fa-edit"></i> Profil bearbeiten
                        </a>
                    }
                </div>
                <div class="clearfix"></div>
                <div class="x_content">
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <img class="img-responsive avatar-view" src="~/Content/images/no_propic.png">
                        <h2>@Html.DisplayFor(m => m.LastName), @Html.DisplayFor(m => m.FirstName)</h2>
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <div class="profile_title">
                            <div class="col-md-6">
                                <h2>@ViewBag.UserDetail</h2>
                            </div>
                        </div>
                        <div>
                            <div class="form-group flex">
                                <label for="firstname" class="col-sm-2 control-label">@Html.DisplayNameFor(m => m.FirstName)</label>
                                <div id="firstname" class="col-sm-10">
                                    <span>: @Html.DisplayFor(m => m.FirstName)</span>
                                </div>
                            </div>

                            <div class="form-group flex">
                                <label for="lastname" class="col-sm-2 control-label">@Html.DisplayNameFor(m => m.LastName)</label>
                                <div id="lastname" class="col-sm-10">
                                    <span>: @Html.DisplayFor(m => m.LastName)</span>
                                </div>
                            </div>

                            <div class="form-group flex">
                                <label for="lastname" class="col-sm-2 control-label">@Html.DisplayNameFor(m => m.Username)</label>
                                <div id="lastname" class="col-sm-10">
                                    <span>: @Html.DisplayFor(m => m.Username)</span>
                                </div>
                            </div>

                            <div class="form-group flex">
                                <label for="email" class="col-sm-2 control-label">@Html.DisplayNameFor(m => m.Email)</label>
                                <div id="email" class="col-sm-10">
                                    <span>: @Html.DisplayFor(m => m.Email)</span>
                                </div>
                            </div>

                            <div class="form-group flex">
                                <label for="division" class="col-sm-2 control-label">@Html.DisplayNameFor(m => m.DepartmentName)</label>
                                <div id="division" class="col-sm-10">
                                    <span>: @Html.DisplayFor(m => m.DepartmentName)</span>
                                </div>
                            </div>

                            <div class="form-group flex">
                                <label for="division" class="col-sm-2 control-label">@Html.DisplayNameFor(m => m.PhoneNumber)</label>
                                <div id="division" class="col-sm-10">
                                    <span>: @Html.DisplayFor(m => m.PhoneNumber)</span>
                                </div>
                            </div>

                            <div class="form-group flex">
                                <label for="division" class="col-sm-2 control-label">@Html.DisplayNameFor(m => m.LocationName)</label>
                                <div id="division" class="col-sm-10">
                                    <span>: @Html.DisplayFor(m => m.LocationName)</span>
                                </div>
                            </div>

                            <div class="form-group flex">
                                <label for="division" class="col-sm-2 control-label">@Html.DisplayNameFor(m => m.Projects)</label>
                                <div id="division" class="col-sm-10">
                                    <span>: @Html.DisplayFor(m => m.Projects)</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
      
    </div>

</div>