
@{
    ViewBag.Title = "Öffentliche Kalender von " + ViewBag.UserName;
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<link href="~/Content/fullcalendar.min.css" rel="stylesheet" />
<link href="~/Content/fullcalendar.print.css" rel="stylesheet" media="print" />
<link href="~/Content/custom.css" rel="stylesheet" />

<div class="row">


                <ul class="list-group">
                    <h3 class="list-group-item-success" >@ViewBag.Check</h3>
                    @foreach (var calendar in ViewBag.CalendarList)
                    {
                        
                            <h4>
                                <a href="@Url.Action("Show", "Calendar", new {calendarId = calendar.CalendarId})" class="list-group-item">@calendar.Name</a>
                            </h4>
                            
                    }
                </ul>

                @if (ViewBag.FullCalendarList.Count != 0 && ViewBag.Check != "Ihre Kalender")
                {
                    <ul class="list-group">
                        <h3 class="list-group-item-info ">Alle Kalender des Benutzers:</h3>
                        @foreach (var calendar in ViewBag.FullCalendarList)
                        {
                            <h4>
                                <a href="@Url.Action("Show", "Calendar", new {calendarId = calendar.CalendarId})" class="list-group-item">@calendar.Name</a>
                            </h4>
                         }
</ul>
                 }
</div>


