
@{
    ViewBag.Title = "Kalender Anzeigen";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<link href="~/Content/fullcalendar.min.css" rel="stylesheet" />
<link href="~/Content/fullcalendar.print.css" rel="stylesheet" media="print"/>
<link href="~/Content/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<link href="~/Content/custom.css" rel="stylesheet" />

<h2>@ViewBag.OwnerName</h2>
<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>@ViewBag.CalendarName</h2>
                
                
                    <input type="button" class="btn btn-primary" id="subscribe" value=@ViewBag.Flag style="display:@ViewBag.UserCheck">
                
               

                                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div id='calendar'></div>
            </div>
        </div>
    </div>
</div>

<div id="ViewEvent" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">View Event</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal calender" role="form">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Start - End</label>
                        <div class="col-xs-4">
                            <input type="text" class="form-control" id="view_start" name="view_start">
                        </div>
                        <div class="col-xs-4">
                            <input type="text" class="form-control" id="view_end" name="view_end">
                        </div>
                    </div>
                    @if (ViewBag.DisplayAll)
                    {
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Private Calendar</label>
                            <div class="col-sm-9">
                                <input type="checkbox" class="form-control" id="view_is_private" name="view_is_private">
                            </div>
                        </div>
                    }
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Title</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="view_title" name="view_title">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Location</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="view_location" name="view_location">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Description</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" style="height: 55px;" id="view_description" name="view_description"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <form>
                    <input type="hidden" id="view_event_id" name="view_event_id" />
                    @if (ViewBag.DisplayAll)
                    {
                        <button type="button" class="btn btn-danger deletebutton" data-bind="click: deleteevent">Delete</button>
                    }
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="AddEvent" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Add New Event</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal calender" role="form" id="eventForm" method="post">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Start - End</label>
                        <div class="col-xs-4">
                            <input type="datetime" class="form-control" id="add_start" name="add_start" required>
                        </div>
                        <div class="col-xs-4">
                            <input type="datetime" class="form-control" id="add_end" name="add_end" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Private Calendar</label>
                        <div class="col-sm-9">
                            <input type="checkbox" class="form-control" id="add_is_private" name="add_is_private">
                        </div>
                    </div>
                    <div class="form-group">
                        
                            
                            <label class="col-sm-3 control-label">Title<span class="red">*</span></label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="add_title" name="add_title" required placeholder="Title">
                            </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Location<span class="red">*</span></label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="add_location" name="add_location" required placeholder="Ort">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Description<span class="red">*</span></label>
                        <div class="col-sm-9">
                            <textarea class="form-control" style="height: 55px;" id="add_description" name="add_description" required placeholder="Beschreibung der Veranstaltung"></textarea>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default add_close" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary add_submit">Save</button>
            </div>
        </div>
    </div>
</div>

<div id="view_event" data-toggle="modal" data-target="#ViewEvent"></div>
<div id="add_event" data-toggle="modal" data-target="#AddEvent"></div>

@section scripts {
    <script src="~/Scripts/DeleteEvent.js"></script>
    <script src="~/Scripts/fullcalendar/moment.min.js"></script>
    <script src="~/Scripts/fullcalendar/fullcalendar.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/notify.js"></script>
    <script src="~/Scripts/validator.js"></script>
    <script>
        
        $(function(){
            $('#eventForm').validator();
        });

        var calendar = $('#calendar')
            .fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek'
                },
                selectable: true,
                selectHelper: true,
                select: function (start) {
                    $('#add_event').click();

                    $('#add_start').val(moment(start).format('DD-MM-YYYY HH:mm'));
                    $('#add_title').val("");
                    $('#add_end').val("");
                    $('#add_location').val("");
                    $('#add_description').val("");
                    $('#add_is_private').prop('checked', false);

                    $(".add_submit").on('click', function() {
                        
                        var calendarId = @ViewBag.CalendarId;
                        
                        if ($('#add_title').val().length!=0 &&  $('#add_location').val().length!=0 && $('#add_description').val()!=0 && $('#add_start').val().length!=0 && $('#add_end').val().length!=0 && $('#add_start').val() < $('#add_end').val()){
                            var newEvent = {
                                title: $('#add_title').val(),
                                start: moment($('#add_start').val(), 'DD-MM-YYYY HH:mm').format("LLLL"),
                                end: moment($('#add_end').val(), 'DD-MM-YYYY HH:mm').format("LLLL"),
                                location: $('#add_location').val(),
                                description: $('#add_description').val(),
                                allDay: false,
                                calendarId: calendarId,
                                isPrivate: $('#add_is_private').prop('checked')
                            };

                            calendar.fullCalendar('renderEvent', newEvent, true);
                            calendar.fullCalendar('unselect');

                            $.ajax({
                                type: 'POST',
                                url: '/API/CalendarEvent/CreateNewEvent',
                                data: newEvent
                            });

                            $('.add_close').click();

                            return false;
                        }

                        else{
                            if ($('#add_start').val() > $('#add_end').val())
                            {
                                alert("Der Zeitraum für den Termin wurde nicht korrekt eingegeben! Versuchen Sie noch mal.");
                            }
                            return true;
                        }
                    });

                },
                eventClick: function(calEvent) {
                    $('#view_event').click();
                    $('#view_start').val(moment(calEvent.start).format('DD-MM-YYYY HH:mm'));
                    $('#view_end').val(moment(calEvent.end).format('DD-MM-YYYY HH:mm'));
                    $('#view_title').val(calEvent.title);
                    $('#view_location').val(calEvent.location);
                    $("#view_description").val(calEvent.description);
                    $("#view_event_id").val(calEvent.id);
                    $('#view_is_private').prop('checked', calEvent.isPrivateEvent);

                    console.log(calEvent);

                    calendar.fullCalendar('unselect');
                },
                events: '/API/CalendarEvent/GetEvents?userId=@ViewBag.UserId&calendarId=@ViewBag.CalendarId'
            });

        $(function () {
            $('#add_start').datetimepicker({ format: 'DD-MM-YYYY HH:mm' });
            $('#add_end').datetimepicker({ format: 'DD-MM-YYYY HH:mm' });
        });

        $(function () {
                $("#subscribe").click(function () {
                    var self = $(this);
                    if (self.val() == "abonnieren") {
                        $.ajax({
                            type: "POST",
                            url: "/Calendar/CreateSubscription",
                            data: '{calendarId: "' + @ViewBag.CalendarId+ '" }',
                            contentType: "application/json; charset=utf-8",
                    
                        });
                        self.val("deabonnieren");
                        $.notify("Jetzt abonnieren Sie den Kalender", "success");
                    }
                    else {
                        if (self.val() == "deabonnieren") {
                            $.ajax({
                                type: "POST",
                                url: "/Calendar/RemoveSubscription",
                                data: '{calendarId: "' + @ViewBag.CalendarId+ '" }',
                                contentType: "application/json; charset=utf-8",
                        
                            });
                
                            self.val("abonnieren");
                            $.notify("Sie abonnieren den Kalender nicht mehr", "warn");
                        }
                    }
                });
            });
        
</script>
}

