@model IEnumerable<PIMSuite.Persistence.Entities.User>
@{
    ViewBag.Title = "Chat";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<link href="~/Content/chat.css" rel="stylesheet" />
<div class="main_section">
    <div class="container" style="width: 100%">
        <div class="chat_container">
            <div class="col-sm-3 chat_sidebar">
                <div class="row">
                    <div id="custom-search-input">
                        <div class="input-group col-md-12">
                            <input type="text" class=" search-query form-control" placeholder="Search"/>
                            <button class="btn btn-danger" type="button">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                    <div class="member_list">
                        <ul class="list-unstyled" id="users">
                            @foreach (var user in Model)
                            {
                                <li class="left clearfix @(ViewBag.ChatToUserId == user.UserId.ToString() ? "selectedUser" : null)" id="userList" user-id="@Html.DisplayFor(m => user.UserId)" user-lastname="@Html.DisplayFor(m => user.Lastname)">
                                    <div class="chat-body clearfix">
                                        <div class="header_sec">
                                            <strong class="primary-font">@Html.DisplayFor(m => user.Lastname)</strong>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <!--chat_sidebar-->


            <div class="col-sm-9 message_section">
                <div class="row">
                    <div class="new_message_head">
                        <div class="pull-left">
                            <span id="chatWith"></span>
                        </div>
                    </div><!--new_message_head-->

                    <div class="chat_area">
                        <ul class="list-unstyled" id="messageColumn">
                            @foreach (var chatHistory in ViewBag.ChatHistories)
                            {
                                <li class="left clearfix @(chatHistory[0] == "sender" ? "admin_chat" : "")">
                                    <span class="chat-img1 @(chatHistory[0] == "sender" ? "pull-right" : "pull-left")">
                                        <img src="/Content/images/no_propic.png" alt="User Avatar" class="img-circle"> 
                                    </span>
                                    <div class="chat-body1 clearfix @chatHistory[0]">
                                        <p>@chatHistory[1]</p>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div><!--chat_area-->
                    <div class="message_write">
                        <textarea class="form-control" id="messageBody" placeholder="type a message"></textarea>
                        <div class="clearfix"></div>
                        <div class="chat_bottom">
                            <a href="#" id="sendMessage" class="pull-right btn btn-success">
                                Send
                            </a>
                            <input type="hidden" id="userId" value="@ViewBag.ChatToUserId"/>
                        </div>
                    </div>
                </div>
            </div> <!--message_section-->
        </div>
    </div>
</div>


@section scripts {
    <script>
        var chat = $.connection.chatHub;

        @if (ViewBag.ChatToUserId == null)
        {
            <text>
                $('.message_section').hide();
            </text>
        }

        $.connection.hub.start().done(function () {
            chat.server.userConnect($('#currUserId').val());
        });

        $('#sendMessage').click(function () {
            chat.server.sendMessage($('#userId').val(), $('#messageBody').val());
            $('#messageBody').val('').focus();
        });

        $('#users').on('click', 'li#userList', function () {
            var sender = $('#currUserId').val();
            var receiver = $(this).attr('user-id');

            $('.message_section').show();
            $('#users li').removeClass('selectedUser');
            $('#messageColumn li').remove();
            $('#userId').val(receiver);
            $('#chatWith').text('chat with: ' + $(this).attr('user-lastname'));
            $(this).toggleClass('selectedUser');

            chat.server.loadChatHistories(sender, receiver);
        });

        chat.client.onSendMessage = function (lastName, messageBody, senderOrReceiver) {
            var html = getChatTemplate(senderOrReceiver, messageBody);
            $('#messageColumn').append(html);
        }

        chat.client.loadChatHistories = function (chatHistories) {
            var html = '';

            $.each(chatHistories, function (key, chatHistory) {
                html += getChatTemplate(chatHistory[0], chatHistory[1]);
            });

            $('#messageColumn').append(html);
        }

        function getChatTemplate(senderOrReceiver, messageBody) {
            var html = '<li class="left clearfix';
            if (senderOrReceiver === 'sender') {
                html += ' admin_chat"><span class="chat-img1 pull-right"><img src="/Content/images/no_propic.png" alt="User Avatar" class="img-circle"> </span>';
                html += '<div class="chat-body1 clearfix sender">';
            } else {
                html += '"><span class="chat-img1 pull-left"><img src="/Content/images/no_propic.png" alt="User Avatar" class="img-circle"> </span>';
                html += '<div class="chat-body1 clearfix receiver">';
            }

            html += '<p>' + messageBody + '</p>';
            //            html += '<div class="chat_time pull-left">09:40PM</div>';
            html += '</div></li>';
            return html;
        }
        </script>
}